<h1>
    Send Rye a secret message on their birthday!
</h1>
<p>
    Birthdays aren't always fun, but you know what is? Getting a special
    anonymous text message telling you how badass you are, or how you impacted
    someone's life in a way you may not have realized, or maybe someone telling
    you what good things they wish for you in the year to come.
</p>
<p>
    Now what if you got 100 of these anonymous text messages throughout
    your birthday?
</p>
<p>
    That's what this special page is for! How it works:
</p>
<ol>
    <li>
        You write a wish to Rye before May 16.
    </li>
    <li>
        Amazing birthday wishes pile up and get converted to text messages.
    </li>
    <li>
        On May 16th and 17th, these messages will be texted to Rye on the hour,
        every hour throughout their birthday.
    </li>
    <li>
        Happiness ensues!
    </li>
</ol>

<%= link_to 'Send a birthday wish', new_wish_path %>
